.icon-48-cometobservations {
      background-image: url(../images/l_cometobservations.png);
      padding-left:60px!important;
}

.icon-48-cometobserved {
      background-image: url(../images/l_cometobservations.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}